
{% block title %} {% endblock %}

{% block main %}
<html>
<div class="container">
  <div class="row">
    <div class="col">

      <h1>PM Dashboard</h1>
      <hr>

      <form action="/main" method="POST" enctype="multipart/form-data">

        <button type="Upload_file_data" class="btn btn-primary">Upload PM Data</button>

      </form>
      <form action="/dash" method="POST" enctype="multipart/form-data">

        <button type="View Dashboard" class="btn btn-primary">View Dashboard</button>

      </form>
      <div id='chart' class='chart'></div>
      <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>-->
      <script type='text/javascript'>
        var graphs = {{graphJSON | safe}};
        Plotly.plot('chart',graphs,{});
      </script>
    </div>
  </div>

</div>
</html>
{% endblock %}